{:require [ecspixi.core]
 :init-fns [ecspixi.core/init]
 :compiler-options {:asset-path "/js/main.out"
                    :npm-deps {:makr "2.1.1"}
                    :language-out :ecmascript5
                    }
 }
