{:require [ecspixi.core]
 :init-fns [ecspixi.core/init]
 :compiler-options {:asset-path "/js/main.out"
                    :language-out :ecmascript5
                    :libs ["src/ecs/EntityManager.js"
                           "src/ecs/Entity.js"
                           "src/ecs/ReusePool.js"]
                    }
 }
